[[source]]
url = "https://pypi.python.org/simple"
name = "pypi"
verify_ssl = true

[packages]
sdc-cryptography = "==0.2.3"
gcloud-aio-storage = "*"
ujson = "*"
aiohttp = "*"
aiodns = "*"
cchardet = "*"
Jinja2 = "*"
structlog = "*"
uvloop = "*"

[requires]
python_version = "3.7"
