{% include 'header.html' %}

<div class="group" id="what-is-your-address-group">


  <div class="block" id="what-is-your-address">


    <div class="question" id="what-is-your-address-question">


      <h1 class="question__title saturn" data-qa="question-title">
        What is your address?
      </h1>

      <fieldset class="question__fieldset js-question-fieldset">

        <legend class="u-vh">What is your address?</legend>


        <div class="question__answers">
          <div class="question__answer">


            <div class="answer answer--textfield  " id="container-address-line-1">


              <div class="answer__fields js-fields">


                <div class="field">


                  <label class="label venus " for="address-line-1" id="label-address-line-1">
                    Address Line 1 (Including your house name or number)
                  </label>


                  <input class="input input--text " value="{{ line1 }}" name="address-line-1" id="address-line-1" data-qa="input-text"/>
                </div>
              </div>


            </div>
          </div>

          <div class="question__answer">


            <div class="answer answer--textfield  " id="container-address-line-2">


              <div class="answer__fields js-fields">


                <div class="field">


                  <label class="label venus " for="address-line-2" id="label-address-line-2">
                    Address Line 2
                  </label>


                  <input class="input input--text " value="{{ line2 }}" name="address-line-2" id="address-line-2" data-qa="input-text"/>
                </div>
              </div>


            </div>
          </div>

          <div class="question__answer">


            <div class="answer answer--textfield  " id="container-address-line-3">


              <div class="answer__fields js-fields">


                <div class="field">


                  <label class="label venus " for="address-line-3" id="label-address-line-3">
                    Address Line 3
                  </label>


                  <input class="input input--text " value="{{ line3 }}" name="address-line-3" id="address-line-3" data-qa="input-text"/>
                </div>
              </div>


            </div>
          </div>

          <div class="question__answer">


            <div class="answer answer--textfield  " id="container-town-city">


              <div class="answer__fields js-fields">


                <div class="field">


                  <label class="label venus " for="town-city" id="label-town-city">
                    Town/City
                  </label>


                  <input class="input input--text " value="{{ town }}" name="town-city" id="town-city" data-qa="input-text"/>
                </div>
              </div>


            </div>
          </div>

          <div class="question__answer">


            <div class="answer answer--textfield  " id="container-county">


              <div class="answer__fields js-fields">


                <div class="field">


                  <label class="label venus " for="county" id="label-county">
                    County
                  </label>


                  <input class="input input--text " value="{{ county }}" name="county" id="county" data-qa="input-text"/>
                </div>
              </div>


            </div>
          </div>

          <div class="question__answer">


            <div class="answer answer--textfield  " id="container-postcode">


              <div class="answer__fields js-fields">


                <div class="field">


                  <label class="label venus " for="postcode" id="label-postcode">
                    Postcode
                  </label>


                  <input class="input input--text " value="{{ postcode }}" name="postcode" id="postcode" data-qa="input-text"/>
                </div>
              </div>


            </div>
          </div>

          <div class="question__answer">


            <div class="answer answer--textfield  " id="container-country">


              <div class="answer__fields js-fields">


                <div class="field">


                  <label class="label venus " for="country" id="label-country">
                    Country
                  </label>


                  <input class="input input--text " value="{{ country }}" name="country" id="country" data-qa="input-text"/>
                </div>
              </div>


            </div>
          </div>
        </div>


      </fieldset>


    </div>


  </div>
</div>

{% include 'footer.html' %}
