{% include 'partials/header.html' %}
        
        <div class="page__subheader">
          <div class="container">
            
              

              
            
          </div>
        </div>
        
        <div class="page__container container">
          

<div class="grid grid--reverse">
  <div class="grid__col col-4@m">
    
  </div>

  <div class="grid__col col-7@m pull-1@m">
    <main role="main" id="main" class="page__main">
      
<div class="u-mb-s">
    <h1 class="saturn" data-qa="submission-successful-title">Submission successful</h1>
</div>


    
    
    


<div class="u-mb-s">
    <div class="panel panel--simple panel--success panel--spacious">
        <p class="mars">Your answers were submitted for <span>Integration Testing</span><span class="trading_as"> (<span class="trad_as">Integration Tests</span>)</span> on <span class='date'>31 October 2018 at 10:39</span>
        </p>
        <p class="mars">Transaction ID: <b>ba07-f4d8-7582-420f</b></p>
    </div>
</div>

<div class="u-mb-s">
    <p>Your answers will be processed in the next few weeks.
        We may contact you to query your answers via phone or secure message.</p>
</div>





<div class="u-mb-s">
    <div class="mars">For more information on how we use this data.</div>
    <p class="u-mb-m@s mars"><a href="https://www.ons.gov.uk/surveys">https://www.ons.gov.uk/surveys</a></p>
</div>


      
          

          
    </main>
  </div>
</div>


        </div>
      </div>

{% include 'partials/footer.html' %}
