{{define "members/household-composition" }}
{{ template "header" }}

        <div class="page__subheader">
          <div class="container">
            
    <div id="feedback-display" class="feedback__action js-feedback-action"><span class="badge badge--blue u-mr-xs">Beta</span><span class="pluto">This is a new service. <a href="/feedback" target="_blank" rel="noopener noreferrer" class="feedback__open js-feedback-open" data-qa="a-feedback-open" 
   data-ga="click" data-ga-category="Feedback" data-ga-action="Open feedback link click">Help us improve it</a>.</span></div>
<div id="feedback-thanks" class="feedback__thanks js-feedback-thanks u-hidden"><span class="badge badge--blue u-mr-xs">Beta</span><span class="pluto">Thanks for your feedback.</span></div>
    <div class="feedback__inline js-feedback-inline is-collapsed">
    <div class="feedback__border">
        <form id="feedback-form" method="POST" class="feedback__form">
    <input id="csrf_token" name="csrf_token" type="hidden" value="ImRhYTU2MGRjN2IyMGJhMzAyMGY0OTQ3ZWI2M2Y0YjdmYWEwYTBiNmYi.W9mGPg.NMu8NTSOBB1B3uVLTk_QzMbWa3s">
    <div class="group">
        <div class="feedback__field">
            <label id="feedback-message-label" class="label venus" for="feedback-message">How can we improve this survey?</label>
            <textarea class="input input--textarea js-charlimit-input js-feedback-message" name="message" id="feedback-message" rows="8" cols="60" maxlength="2000"></textarea>
            <div id="feedback-message-remaining" class="input__limit u-mt-xs mercury">Characters remaining: <span>-</span></div>
        </div>
        <div class="feedback__field">
            <label id="feedback-name-label" class="label venus" for="feedback-name">
                <div class="label__inner">
                    Name (optional)
                    <br />
                    <span class="label__description pluto">Please include your name and email address if you’re interested in taking part in further research to improve this survey</span>
                </div>
            </label>
            <input type="text" class="input js-feedback-name" name="name" id="feedback-name" value=""/>
        </div>
        <div class="feedback__field">
            <label id="feedback-email-label" class="label venus" for="feedback-email">Email address (optional)</label>
            <input type="text" class="input js-feedback-email" name="email" id="feedback-email" value=""/>
        </div>
    </div>
    <button class="btn js-feedback-submit" type="submit" name="action[send_feedback]" data-qa="btn-feedback-submit" data-ga="click" data-ga-category="Feedback" data-ga-action="Send">Send feedback</button>
</form>
        <button class="btn btn--secondary feedback__cancel js-feedback-cancel" data-qa="a-feedback-close" 
   data-ga="click" data-ga-category="Feedback" data-ga-action="Cancel feedback link click">I don’t want to provide feedback</button>
    </div>
</div>
    
              

  <a class="page__previous page__previous--top"
  
   data-ga="click" data-ga-category="Navigation" data-ga-action="Previous link click" data-ga-label="top"
  href="/questionnaire/census/household/e89b0316-1e8f-4543-b97f-c11952df5df0/who-lives-here/0/permanent-or-family-home" id="top-previous">Previous</a>

              
              <div class="page__menubtn">
              <button class="btn btn--menu js-menu-btn " data-close-label="Hide sections" type="button" id="menu-btn" aria-expanded="false" aria-controls="section-nav" aria-label="Toggle section menu" aria-haspopup="true">View sections</button>
              </div>
              
            

          </div>
        </div>
        
        <div class="page__container container">
          

<div class="grid grid--reverse">
  <div class="grid__col col-4@m">
    
  
    
<nav class="nav nav--sections nav--vertical js-nav page__nav" id="section-nav" aria-labelledby="menu-btn" role="menu">
  <p class="nav__title venus">Sections</p>
  <ul class="nav__list js-nav-list">
  
    <li class="nav__item  pluto nav__item--completed ">
        <a class="nav__link"   role="menuitem" href="/questionnaire/census/household/e89b0316-1e8f-4543-b97f-c11952df5df0/what-is-your-address-group/0/introduction" data-qa="complete"
          
   data-ga="click" data-ga-category="Navigation" data-ga-action="Section link click" data-ga-label="/questionnaire/census/household/e89b0316-1e8f-4543-b97f-c11952df5df0/what-is-your-address-group/0/introduction">Introduction</a>
      </li>
    
    <li class="nav__item  pluto  nav__item--current">
        <a class="nav__link"  aria-label="Who lives here?. This is the current page" role="menuitem" href="/questionnaire/census/household/e89b0316-1e8f-4543-b97f-c11952df5df0/who-lives-here/0/household-composition" data-qa="incomplete"
          
   data-ga="click" data-ga-category="Navigation" data-ga-action="Section link click" data-ga-label="/questionnaire/census/household/e89b0316-1e8f-4543-b97f-c11952df5df0/who-lives-here/0/household-composition">Who lives here?</a>
      </li>
    
    <li class="nav__item  pluto  ">
        <a class="nav__link"   role="menuitem" href="/questionnaire/census/household/e89b0316-1e8f-4543-b97f-c11952df5df0/household-and-accommodation/0/household-and-accommodation-block" data-qa="incomplete"
          
   data-ga="click" data-ga-category="Navigation" data-ga-action="Section link click" data-ga-label="/questionnaire/census/household/e89b0316-1e8f-4543-b97f-c11952df5df0/household-and-accommodation/0/household-and-accommodation-block">Household and Accommodation</a>
      </li>
    
  </ul>
</nav>
  

  </div>

  <div class="grid__col col-7@m pull-1@m">
    <main role="main" id="main" class="page__main">
      

    
  


    <form class="form qa-questionnaire-form" role="form" method="POST" autocomplete="off" novalidate>
      <input id="csrf_token" name="csrf_token" type="hidden" value="ImRhYTU2MGRjN2IyMGJhMzAyMGY0OTQ3ZWI2M2Y0YjdmYWEwYTBiNmYi.W9mGPg.NMu8NTSOBB1B3uVLTk_QzMbWa3s">

      
        <div class="group" id="who-lives-here">
            

<div class="block" id="household-composition">
  
    
  

  

  
    
      














<div class="question question--repeatinganswer" id="household-composition-question">

  <h1 class="question__title saturn">
    What are the names of everyone who live at <em>{{ .AddressLine1 }}</em>?
  </h1>

  

  
  
    <aside class="question__guidance">
      <div class="panel panel--simple panel--info" id="question-guidance-household-composition-question">
        

<strong class="u-mb-s u-d-b">Include</strong>
  <ul class="mars"><li>Yourself, if this is your permanent or family home</li>
      <li>Family members including partners, children and babies born on or before 9 April 2017</li>
      <li>Students and, or school children who live away from home during term time</li>
      <li>Housemates tenants or lodgers</li>
      <li>Household members who have requested a personal form</li>
      
    </ul>
  

      </div>
    </aside>
  


  <div class="question__answers u-mb-s">
    
      <div class="question__answer u-mb-no u-mt-m js-household-person" data-remove="Remove" data-index="1">
        <h3 class="neptune">Person <span class="js-household-loopindex">1</span><small><span class="js-household-action"> (You)</span></small></h3>
        <fieldset class="question__fieldset">
          <legend class="question__legend u-vh">Person  <span class="js-household-loopindex">1</span></legend>
          
            
              

              
              



<div class="answer answer--textfield  " id="container-household-0-first-name">

  
    
    <div class="answer__fields js-fields">
      
      

<div class="field">
    
    


<label  class="label venus " for="household-0-first-name" id="label-household-0-first-name">
    First name
    
</label>


    
    
    

<input  class="input input--text " value="" name="household-0-first-name" id="household-0-first-name" data-qa="input-text" />
</div>
    </div>
  
    
  
</div>
            
          
            
              

              
              



<div class="answer answer--textfield  " id="container-household-0-middle-names">

  
    
    <div class="answer__fields js-fields">
      
      

<div class="field">
    
    


<label  class="label venus " for="household-0-middle-names" id="label-household-0-middle-names">
    Middle names
    
</label>


    
    
    

<input  class="input input--text " value="" name="household-0-middle-names" id="household-0-middle-names" data-qa="input-text" />
</div>
    </div>
  
    
  
</div>
            
          
            
              

              
              



<div class="answer answer--textfield  " id="container-household-0-last-name">

  
    
    <div class="answer__fields js-fields">
      
      

<div class="field">
    
    


<label  class="label venus " for="household-0-last-name" id="label-household-0-last-name">
    Last name
    
</label>


    
    
    

<input  class="input input--text " value="" name="household-0-last-name" id="household-0-last-name" data-qa="input-text" />
</div>
    </div>
  
    
  
</div>
            
          
        </fieldset>
      </div>
    
  </div>

  <div class="question__actions u-mt-xs">
    <button class="btn btn--secondary btn--small u-wa--@xs js-household-btn" type="submit" name="action[add_answer]">
      Add another person
      <span class="u-vh">. Selecting this will add a new set of fields to enter another person</span>
    </button>
    <span class="js-add-another-alert u-vh" role="alert" aria-live="polite" data-msg="New fields have been added to the page for another person."></span>
  </div>

  <aside class="question__guidance  question__guidance--bottom">
    
    
      
        









<div class="guidance js-details"  data-show-label="Show further guidance" data-hide-label="Hide further guidance">
  <a class="guidance__link js-details-trigger js-details-label mars"
     href="#guidance-last-name" id="guidance-last-name-trigger" aria-controls="guidance-last-name-body" aria-expanded="false" data-guidance-trigger="true" 
   data-ga="click" data-ga-category="Help" data-ga-action="Guidance click" data-ga-label="last-name">Show further guidance</a>
  <div class="guidance__main js-details-body"  id="guidance-last-name-body" aria-hidden="true">
    <div class="guidance__content mars">
      

<p>Enter the current first, middle and last names of all the people who usually live here.</p>
  
<p>If you have not yet named your newborn, please enter ‘Baby’ for their first name and then enter their last name (surname).</p>
  
<p>Please also include household members who have requested a personal form.</p>
  
<p>Please also include the names of people staying with you temporarily who don’t have a usual address in the UK. This is so that we make sure we count everyone.</p>
  
<strong class="u-mb-s u-d-b">Include</strong>
  <ul class="mars"><li>people who usually live outside the UK who are staying in the UK for <strong>three months or more</strong></li>
      <li>people who work away from home within the UK  if this is their permanent or family home</li>
      <li>members of the Armed Forces if this is their permanent or family home</li>
      <li>people who are temporarily outside the UK for <strong>less than 12 months</strong></li>
      <li>people staying temporarily who usually live in the UK but do not have another UK address, for example relatives, friends</li>
      
    </ul>
  

    </div>
  </div>
</div>
      
    
  </aside>
</div>
    
  
</div>
        </div>
      

      
      <button class="btn" data-qa="btn-submit" type="submit" name="action[save_continue]">Save and continue</button>
      

      <div class="u-mb-m">
        <button class="btn btn--secondary js-btn-save" data-qa="btn-save-sign-out" type="submit" name="action[save_sign_out]" 
   data-ga="click" data-ga-category="Navigation" data-ga-action="Save and complete later click">Save and complete later</button>
      </div>
    </form>


      
          

  <a class="page__previous page__previous--bottom"
  
   data-ga="click" data-ga-category="Navigation" data-ga-action="Previous link click" data-ga-label="bottom"
  href="/questionnaire/census/household/e89b0316-1e8f-4543-b97f-c11952df5df0/who-lives-here/0/permanent-or-family-home" id="bottom-previous">Previous</a>

          
    </main>
  </div>
</div>


        </div>
      </div>

{{ template "footer" }}
{{ end }}
